.Work {
    margin-top: 100px;
    justify-content:center;
    text-align: center;
  
}
.grid-container {
    
    display: grid;
    height: 588px;
    grid-template-rows: repeat(2,294px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
} 
.div-six:hover {
    width: 294px;
    height: 294px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%); 
}